# Life Table

Dieser Datensatz enthält Daten zu **Sterblichkeitsraten** bestimmter Altersgruppen. Sie könnten im Zusammenhang mit COVID-19 Stehen da hohe Sterblichkeit vermutlich auf schlechte Hygienebedingungen und ein schlechtes Gesundheitssystem schließen lassen.

https://population.un.org/wpp/Download/Standard/CSV/

## Bedeutung der Spalten

* mx: Central death rate, nmx, for the age interval (x, x+n)
* qx: Probability of dying (nqx), for an individual between age x and x+n
* px: Probability of surviving, (npx), for an individual of age x to age x+n
* lx: Number of survivors, (lx), at age (x) for 100000 births
* dx: Number of deaths, (ndx), between ages x and x+n
* Lx: Number of person-years lived, (nLx), between ages x and x+n
* Sx: Survival ratio (nSx) corresponding to proportion of the life table population in age group (x, x+n) who are alive n year later
* Tx: Person-years lived, (Tx), above age x
* ex: Expectation of life (ex) at age x, i.e., average number of years lived subsequent to age x by those reaching age x
* ax: Average number of years lived (nax) between ages x and x+n by those dying in the interval

In [1]:
import pandas as pd

df = pd.read_csv("./data/LifeTable.csv", dtype={'Time': 'string'})
df.head()

,Unnamed: 0,LocID,Location,VarID,Variant,Time,MidPeriod,SexID,Sex,AgeGrp,...,mx,qx,px,lx,dx,Lx,Sx,Tx,ex,ax
0,860,4,Afghanistan,2,Medium,2015-2020,2018,3,Total,0,...,0.053947,0.051706,0.948294,100000.000,5170.592,95846.224,0.942107,6427897.2,64.2790,0.196654
1,863,4,Afghanistan,2,Medium,2015-2020,2018,3,Total,1-4,...,0.004307,0.017042,0.982958,94829.408,1616.126,375207.100,0.985752,6332051.0,66.7731,1.456554
2,866,4,Afghanistan,2,Medium,2015-2020,2018,3,Total,5-9,...,0.001327,0.006612,0.993388,93213.282,616.314,464341.540,0.994534,5956843.9,63.9055,2.201314
3,869,4,Afghanistan,2,Medium,2015-2020,2018,3,Total,10-14,...,0.001043,0.005202,0.994798,92596.968,481.664,461803.540,0.993437,5492502.4,59.3162,2.547446
4,872,4,Afghanistan,2,Medium,2015-2020,2018,3,Total,15-19,...,0.001684,0.008388,0.991612,92115.305,772.677,458772.950,0.989884,5030698.8,54.6131,2.665806

In [2]:
df_filtered = df[(df['Time'] == '2015-2020') & (df['SexID'] == 3)]
df_filtered.head()

,Unnamed: 0,LocID,Location,VarID,Variant,Time,MidPeriod,SexID,Sex,AgeGrp,...,mx,qx,px,lx,dx,Lx,Sx,Tx,ex,ax
0,860,4,Afghanistan,2,Medium,2015-2020,2018,3,Total,0,...,0.053947,0.051706,0.948294,100000.000,5170.592,95846.224,0.942107,6427897.2,64.2790,0.196654
1,863,4,Afghanistan,2,Medium,2015-2020,2018,3,Total,1-4,...,0.004307,0.017042,0.982958,94829.408,1616.126,375207.100,0.985752,6332051.0,66.7731,1.456554
2,866,4,Afghanistan,2,Medium,2015-2020,2018,3,Total,5-9,...,0.001327,0.006612,0.993388,93213.282,616.314,464341.540,0.994534,5956843.9,63.9055,2.201314
3,869,4,Afghanistan,2,Medium,2015-2020,2018,3,Total,10-14,...,0.001043,0.005202,0.994798,92596.968,481.664,461803.540,0.993437,5492502.4,59.3162,2.547446
4,872,4,Afghanistan,2,Medium,2015-2020,2018,3,Total,15-19,...,0.001684,0.008388,0.991612,92115.305,772.677,458772.950,0.989884,5030698.8,54.6131,2.665806

In [3]:
#df_filtered.to_csv('./data/LifeTable.csv')