# Total Population Data

Dieses Set enthält Daten zur Weltbevölkerung, deren Geschlechterverteilung und Bevölkerungsdichte.

Es ist bis 2019 aktuell und geht danach in Projektionen über.

In [1]:
import pandas as pd

df = pd.read_csv("./data/WPP2019_TotalPopulationBySex.csv")
df.head()

,LocID,Location,VarID,Variant,Time,MidPeriod,PopMale,PopFemale,PopTotal,PopDensity
0,4,Afghanistan,2,Medium,1950,1950.5,4099.243,3652.874,7752.117,11.874
1,4,Afghanistan,2,Medium,1951,1951.5,4134.756,3705.395,7840.151,12.009
2,4,Afghanistan,2,Medium,1952,1952.5,4174.450,3761.546,7935.996,12.156
3,4,Afghanistan,2,Medium,1953,1953.5,4218.336,3821.348,8039.684,12.315
4,4,Afghanistan,2,Medium,1954,1954.5,4266.484,3884.832,8151.316,12.486

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280932 entries, 0 to 280931
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   LocID       280932 non-null  int64
 1   Location    280932 non-null  object
 2   VarID       280932 non-null  int64
 3   Variant     280932 non-null  object
 4   Time        280932 non-null  int64
 5   MidPeriod   280932 non-null  float64
 6   PopMale     250876 non-null  float64
 7   PopFemale   250876 non-null  float64
 8   PopTotal    280932 non-null  float64
 9   PopDensity  280932 non-null  float64
dtypes: float64(5), int64(3), object(2)
memory usage: 21.4+ MB

## Daten von 2019
Nur die Medium Variante der Projections sichtbar.

In [3]:
df_2019_afghanistan = df[(df["Time"] == 2019) & (df["LocID"] == 4)]

df_2019_afghanistan.head()

,LocID,Location,VarID,Variant,Time,MidPeriod,PopMale,PopFemale,PopTotal,PopDensity
69,4,Afghanistan,2,Medium,2019,2019.5,19529.727,18512.03,38041.757,58.269

## Daten von 2020
Mehrere Varianten sichtbar, da ab hier Vorhersage.

In [4]:
df_2020_afghanistan = df[(df["Time"] == 2020) & (df["LocID"] == 4)]

df_2020_afghanistan.head()

,LocID,Location,VarID,Variant,Time,MidPeriod,PopMale,PopFemale,PopTotal,PopDensity
70,4,Afghanistan,2,Medium,2020,2020.5,19976.265,18952.076,38928.341,59.627
151,4,Afghanistan,3,High,2020,2020.5,19976.265,18952.076,38928.341,59.627
232,4,Afghanistan,4,Low,2020,2020.5,19976.265,18952.076,38928.341,59.627
313,4,Afghanistan,5,Constant fertility,2020,2020.5,19976.265,18952.076,38928.341,59.627
394,4,Afghanistan,6,Instant replacement,2020,2020.5,19976.265,18952.076,38928.341,59.627

## Mögliche relevante Merkmale

### PopMale
Male Population of country.
### PopFemale
Female Population of county.
### PopDensity
Population density. 

**Population per squate kilometre.**

Eine dicht gedrängte Bevölkerung hat möglicherweise ein größers Risiko sich mit COVID-19 zu infizieren, da social distancing Maßnahmen wegfallen könnnte.

## Relevane Daten für COVID-19 Challenge
Hier ist zu sehen, dass auch Daten für Kontinente und Gruppen von Ländern gelistet sind. 

Diese wären herauszufiltern.

In [5]:
df_2019 = df[(df["Time"] == 2019)]
df_2019.head()

,LocID,Location,VarID,Variant,Time,MidPeriod,PopMale,PopFemale,PopTotal,PopDensity
69,4,Afghanistan,2,Medium,2019,2019.5,19529.727,18512.030,38041.757,58.269
953,903,Africa,2,Medium,2019,2019.5,653513.680,654550.496,1308064.176,44.119
1837,1823,African Group,2,Medium,2019,2019.5,652644.714,653675.858,1306320.572,44.464
1988,1560,African Union,2,Medium,2019,2019.5,652949.469,653953.561,1306903.030,44.085
2139,2080,African Union: Central Africa,2,Medium,2019,2019.5,76945.498,77068.207,154013.705,29.192