# Use Kaggle API to download covid 19 dataset

### Documentation
* https://technowhisp.com/kaggle-api-python-documentation/

### Authentication

In [17]:
from kaggle.api.kaggle_api_extended import KaggleApi
api = KaggleApi()
api.authenticate()

### Download and unzip dataset

In [35]:
api.dataset_download_files('imdevskp/corona-virus-report', 'data', False, True, True)

### Display data

In [34]:
import pandas as pd
df = pd.read_csv('./data/covid_19_clean_complete.csv', parse_dates = ['Date'])
df.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,NaN,Afghanistan,33.0000,65.0000,2020-01-22,0,0,0
1,NaN,Albania,41.1533,20.1683,2020-01-22,0,0,0
2,NaN,Algeria,28.0339,1.6596,2020-01-22,0,0,0
3,NaN,Andorra,42.5063,1.5218,2020-01-22,0,0,0
4,NaN,Angola,-11.2027,17.8739,2020-01-22,0,0,0